* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu';
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.icon-color {
    color: #ff5912;
    line-height: 2;
}

.ptb-3 {
    padding: 3rem 0;
}

.ptb-2 {
    padding: 2rem 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.heading-font {
    font-size: 46px !important;
    margin-bottom: 1rem;
}

.sub-info {
    font-size: 20px !important;
}

.fw-fs-fs {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.enroll-now {
    font-size: 18px;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: #fc4111;
    padding: 0.2rem 3.5rem;
    border: none;
    cursor: pointer;
}

/* header contact details */
.company-details-login-sign-up {
    padding: 1rem 0rem;
}

.company-details-login-sign-up .grid .box .mail-address,
.number {

    font-size: 12px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #34404b;
    padding-left: 0.3rem;
    cursor: pointer;
    position: relative;

}

.company-details-login-sign-up .grid .right {
    text-align: end;
    text-align: right;
}

.login-user {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #3b3a3a;
    text-decoration: none;
}

.new-user-sign-up {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #3b3a3a;
    border: solid 0.5px #ff5912;
    padding: 0.5rem 0.8rem;
    background-color: transparent;
    cursor: pointer;
}

.new-user-sign-up:focus {
    border: solid 1px #ff5912;
}

.mail-id,
.contact-number,
.login,
.new-user {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 0.6rem;
}

.line {
    opacity: 0.5;
    background-color: #e6e8eb;
    width: 100%;
    height: 1px;
}

/* sticky nav */
.sticky-nav {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 5 !important;
    background-color: burlywood !important;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.sticky-logo .sticky-codechef-logo {
    width: 100%;
    height: 3rem !important;
}

/* navigation */
.active-nav {
    color: #ff5912 !important;
    position: relative;
}

.active-nav::after {
    position: absolute;
    content: '';
    width: 25px;
    background-color: #ff5912;
    color: #ff5912;
    height: 3px;
    left: 0;
    bottom: -12px;
    border-radius: 25%;
}

.nav {
    padding: 1rem;
}

.menu-bar a:hover {
    color: #ff5912;
}

.logo .codechef-logo {
    width: 362.48px;
    height: 57.02px;
}

.menu-bar {
    list-style-type: none;
    display: -ms-inline-grid;
    display: inline-grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.menu-bar li a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #34404b;
    font-family: 'Ubuntu';
}

.menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.active {
    color: #ff5912 !important;
    border-bottom: #ff5912;
    border: 3px solid #ff5912;
    padding-bottom: 6px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/* banner section */

.banner {
    /* background: url("../images/Banner\ Base\ White.jpg"); */
    background: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position-x: right;
    width: 100%;
    height: 644px !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.banner-data {
    margin: 0 auto;
    width: 85%;
}

.certification-in-dsa {
    font-weight: 100 !important;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #3b3a3a;
    margin-bottom: 0.5rem;
    font-size: 44px !important;
}

.codechef-multilavel-assignment {
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #2f2f2f;
    margin-bottom: 2.5rem !important;
    font-size: 24px !important;
}

.exam-date {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
}

.exam-date-expiry {
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #f0f0f0;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-spacing: 0.6rem;
}

/* DSA certification */
.dse-certification-section {
    background-color: #f4f6f8;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

.dsa-certification-heading h1 {
    line-height: 0.94;
    letter-spacing: normal;
    color: #3b3a3a;
}

.dsa-certifiaction-information {
    width: 75%;
    margin: 0 auto;
}

.dsa-certifiaction-information p {
    line-height: 1.8;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
}

/* level section */
.levels {
    width: 100%;
    background-attachment: fixed;
}

.level-heading {
    line-height: 0.94;
    letter-spacing: normal;
    color: #3b3a3a;
    font-size: 36px;
    font-weight: 400;
}

/* css of tabs */
.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 25px;
    height: 4px;
    border-radius: 25%;
}

.tabset>label,
.tabset>input:focus+label {
    color: #ff5912;
}

label.active {
    color: black !important;
    font-weight: 600 !important;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #ff5912;
    color: #ff5912;
}

.tabset>input:checked+label {
    margin-bottom: -1px;
}

.tabset {
    max-width: 65em;
}

/* close tab css*/
.f-20-f-18 {
    font-size: 20px;
}

.f-20-f-22 {
    font-size: 20px;
}

.course-information {
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2f2f2f;

}

.syllabus-details {
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #2f2f2f;
}

.resourse,
.mock-test {
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #ff5912;
}

.free-resource-to-prepaire,
.course-price {
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #3b3a3a;
    font-size: 20px;
}

.tab-nav {
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #3b3a3a;
    font-size: 24px !important;
    font-weight: 400 !important;
}

.tool-box {
    position: relative;
}

.tool-tip {
    background-color: #fce689;
    padding: 12px;
    width: 100%;
}

.tool-tip::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 8%;
    right: 90%;
    margin-top: -20px;
    border-width: 50px 60px 0px 25px;
    border-style: dashed;
    -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    z-index: -1;
    border-color: transparent #fce689 transparent transparent;
}

.rates {
    font-size: 1.5rem;
    line-height: 1.64;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
}

.cut-price {
    position: relative;
}

.cut-price::before {
    content: '';
    width: 90px;
    height: 2px;
    color: black;
    background: black;
    position: absolute;
    -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    bottom: 15px;
}

/* testimoniol section  */
.testimonial-bg-color {
    width: 100%;
    background-color: #f4f6f8;
    background-attachment: fixed;
}

.testimonials {
    line-height: 0.94;
    letter-spacing: normal;
    text-align: center;
    color: #3b3a3a;
    margin-bottom: 1rem;
    font-size: 36px;
}

.testimonial-info {
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #2f2f2f;
    margin-bottom: 1rem;
}

.slider-center {
    position: relative;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 368.74px;
    margin: 0 auto;
    
}

.img-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 751px !important;
    -webkit-box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 2.5rem;
    min-height: 368.74px;
    position: relative;
    margin: 0 3rem;
}

.overlay-on-card {
    position: absolute;
    background: #f0f0f0;
    height: 100%;
    width: 14%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.5;
}

.img,
content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.amit-info {
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
    z-index: 1;
}

.name {

    font-size: 10px;
    font-weight: bold;

    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
}

.content {
    margin-left: 2rem;
}

.amits-profile {
    height: 125px;
    z-index: 1;
    margin: auto 0 2rem 0 !important;
}

.job-profile {

    font-size: 10px;
    line-height: 1.15;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
    margin-bottom: 0.5rem;
}

.foundation-certified-and-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.foundation-certified {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #2f2f2f;
    display: inline;
}

.foundation-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px !important;
    margin: 10px 0 0 auto !important;
}

.f-dot {
    width: 50px !important;
}

.astrict {
    color: #a0a0a0;
    font-size: 2rem;
}
.left-overlay,.right-overlay{
    position: absolute;
    top: 64%;
    background-color: #faf6f6a6;
    height: 75%;
    width: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.left-overlay{
    left: -11%;
}
.right-overlay{
    right: -60%;
}
.left-control,
.right-control {
    position: absolute;
    -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    color: #ff5912;
    font-size: 4rem;
    background-color: transparent;
    border: 0;
    z-index: 1;
}

.left-control:focus,
.right-control:focus {
    outline: none;
}

.left-control {
    left: 15%;
    top: 50%;
}

.right-control {
    top: 50%;
    right: 15%;
}

.mySlides{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

/* certified user */
.certified-user-section {
    background-color: #ffffff;
    background-attachment: fixed;
}

.certified-user {
    line-height: 0.94;
    letter-spacing: normal;
    text-align: center;
    color: #3b3a3a;
    font-size: 36px;
}

.certified-user-para {
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #2f2f2f;
}

.certified-user-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    margin: 2rem 0;

}

.information-of-user {
    padding: 2rem;
    border: solid 0.3px #cbcbcb;
    background-color: #ffffff;
    width: 221px;
    position: relative;
    z-index: 1;
}

.information-of-user:hover {
    -webkit-box-shadow: 0 4.5px 3px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 4.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #cbcbcb;
}

.overlay-on-card-profile {
    position: absolute;
    background: #f0f0f0;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
}

.user-profile-photo {
    -o-object-fit: contain;
    object-fit: contain;
    border: solid 0.5px #000000;
}

.certified-user-name {
    font-family: 'Arial';
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;

    color: #4e4d4d;
}

.certified-user-position {
    -o-object-fit: contain;
    object-fit: contain;
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.29;
    letter-spacing: normal;

    color: #4e4d4d;
}

.certifiaction-status {
    font-family: 'Arial';
    font-size: 1rem;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #4e4d4d;
}

.color-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
}

.blue {
    border: solid 1px #387fcb;
    background-color: #387fcb;
}

.grey {
    border: solid 1px #c4c3c3;
    background-color: #c4c3c3;
}

.red {
    border: solid 1px #e81c1c;
    background-color: #e81c1c;
}

.light-chocolate {
    border: solid 1px #e86a1c;
    background-color: #e86a1c;
}

.yellow {
    border: solid 1px #f7ce44;
    background-color: #f7ce44;
}

/* footer */
.footer {
    background-color: #f2f2f2;
}

.social-heading {
    line-height: 1.88;
    letter-spacing: normal;
    color: #28313b;
    font-size: 16px;
}

.ftr-icn {
    color: #ff5912;
    margin: 1rem;
}

.ftr-line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.cc-dsa {
    padding: 10px;
}

.cc-dsa-text {
    font-size: 15px;
    font-weight: bold;
}

.ftr-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 3px;
}

.codechef {
    width: 69.1px;
    height: 15.39px;
    margin-top: 8px;
}

.ftr-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0.7rem 0;
}

.ftr-menu .ftr-active a {
    position: relative;
}

.ftr-menu .ftr-active a::after {
    position: absolute;
    width: 20px;
    height: 3px;
    content: '';
    bottom: -10px;
    left: 15px;
    background-color: #ff5912;
}

.ftr-menu-list {
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #3b3a3a;
}

.part1 {
    width: 70%;
    display: inline-block;
}

.part2 {
    width: 29%;
    display: inline-block;
}

.payment {
    font-size: 1rem;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #28313b;
}

.payment-method {
    margin-left: 8px;
    width: 50%;
}